body{
font-family: "Segoe UI", Arial;
line-height:1.7;
font-size:17px;
}

h1{
font-size:40px;
font-weight:700;
}

h2{
margin-top:35px;
color:#1a4ed8;
}

.navbar{
font-size:17px;
}

img{
border-radius:50%;
margin-bottom:20px;
}

p{
color:#444;
}